# encoding: iso-8859-1
<strong>Qual é a cota?</strong>
<p>O viajante que ingressa no Brasil tem direito à isenção de tributos sobre os bens que ele trouxer do exterior desde que estes estejam incluídos no conceito de bagagem e nos limites e condições a seguir.</p>
<ul>Se incluídos no conceito de bagagem acompanhada: 
                <li>Roupas e outros objetos de uso ou consumo pessoal;</li>
                <li>Livros, folhetos e periódicos; e</li>
                <li>Outros bens, observados simultaneamente o limite de valor global (cota de isenção)</li> 
                <li>e o limite quantitativo, aplicável o limite de valor global corresponde a:</li>
                <ul>
                                    <li>a) US$ 500,00 (quinhentos dólares dos Estados Unidos) ou o equivalente em outra moeda, 
                                         quando o viajante ingressar no País por via aérea ou marítima; e</li>
                                    <li>b) US$ 300,00 (trezentos dólares dos Estados Unidos) ou o equivalente em outra moeda, 
                                        quando o viajante ingressar no País por via terrestre, fluvial ou lacustre.</li>
                </ul>
</ul>
<p>O limite quantitativo corresponde a</p>
<ul>
                <li>Na via aérea ou marítima:</li>
                <ul>
                                    <li>a) bebidas alcoólicas: 12 litros, no total;</li>
                                    <li>b) cigarros: 10 maços, no total, contendo, cada um, 20 unidades;</li>
                                    <li>c) charutos ou cigarrilhas: 25 unidades, no total;</li>
                                    <li>d) fumo: 250 gramas, no total;</li>
                                    <li>e) bens não relacionados nos itens “a” a “d” (souvenirs e pequenos presentes), de valor unitário inferior a 
                                         US$ 10,00: 20 unidades, no total, desde que não haja mais do que 10 unidades idênticas ; e</li>
                                    <li>f) bens não relacionados nos itens “a” a “e”: 20 unidades, no total, desde que não haja mais do que 3 unidades idênticas</li>
                </ul>
                <li>Na via terrestre:</li>
                <ul>
                                    <li>a) bebidas alcoólicas: 12 litros, no total;</li>
                                    <li>b) cigarros: 10 maços, no total, contendo, cada um, 20 unidades;</li>
                                    <li>c) charutos ou cigarrilhas: 25 unidades, no total;</li>
                                    <li>d) fumo: 250 gramas, no total;</li>
                                    <li>e) bens não relacionados nos itens “a” a “d” (souvenirs e pequenos presentes), de valor unitário inferior a US$ 5,00: 
                                        20 unidades, no total, desde que não haja mais do que 10 unidades idênticas;</li>
                                    <li>f) bens não relacionados nos itens“a” a “e”: 10 unidades, no total, desde que não haja mais do que 3 unidades idênticas.</li>
				</ul>
</ul> 
<p>Esses limites e condições aplicam-se inclusive aos bens trazidos por viajante não residente no Brasil,     mesmo aqueles trazidos para presente.</p>
<p>Os bens trazidos como bagagem acompanhada e que excederem os limites de isenção deverão ser declarados na Declaração de Bagagem Acompanhada (DBA). A esses bens, se incluídos no conceito de bagagem, aplica-se o Regime de Tributação Especial para Bagagens caso ultrapassem o valor da cota, ou Regime de Tributação Comum, caso excedam limites quantitativos.</p>
<p>Aos bens excluídos do conceito de bagagem aplica-se o Regime de Importação Comum para Bagagens.</p>
<strong>Atenção:</strong>
<p>A isenção concedida para os outros bens (cota de isenção) só é concedida uma vez a cada intervalo de um mês mesmo que o limite de valor global tenha sido utilizado parcialmente, e é pessoal e intransferível, ou seja, não é admitida a soma ou transferência de cotas entre os viajantes, ainda que membros da mesma família.</p>
<p>Para os militares desembarcando no País ao término de missão em veículo militar e para o civil viajando em veículo militar, a isenção sobre os outros bens só é concedida uma vez a cada intervalo de um ano.</p>
<p>A apresentação de declaração falsa ou inexata de bagagem acarreta a aplicação de multa no valor de 50% do valor excedente à cota de isenção, além do pagamento do imposto de importação devido.</p>

<strong>O que o viajante NÃO pode trazer do exterior como bagagem</strong>
<p>Não são conceituados como bagagem, no sentido aduaneiro, mesmo que trazidos pelo viajante</p>
<ul>
     <li>Objetos destinados a revenda ou a uso industrial</li>
		<ul>                 
                 <li>Automóveis, motocicletas, motonetas, bicicletas com motor, trailers e demais veículos automotores terrestres, suas partes e peças.</li>
                 <li>Aeronaves e suas partes e peças.</li>
                 <li>Embarcações de todo tipo, motos aquáticas e similares e motores para embarcações e suas partes e peça.</li>
         </ul>
<ul>O que é PROIBIDO trazer do exterior pelo viajante
         <li>O viajante não pode trazer para o Brasil:</li>
         <ul>
              <li>Cigarros e bebidas fabricados no Brasil, destinados à venda exclusivamente no exterior</li>
              <li>Cigarros de marca que não seja comercializada no país de origem </li>
              <li>Brinquedos, réplicas e simulacros de armas de fogo, que com estas se possam confundir, exceto se for para integrar coleção de
              usuário  autorizado, nas condições fixadas pelo Comando do Exército Brasileiro</li>
              <li>Espécies animais da fauna silvestre sem um parecer técnico e licença expedida pelo Ministério do Meio Ambiente</li> 
              <li>Espécies aquáticas para fins ornamentais e de agricultura, em qualquer fase do ciclo vital, sem permissão do órgão competente</li> 
              <li>Produtos assinalados com marcas falsificadas, alteradas ou imitadas, ou que apresentem falsa indicação de procedência</li> 
              <li>Mercadorias cuja produção tenha violado direito autoral ("pirateadas")</li> 
              <li>Produtos contendo organismos geneticamente modificados</li>
              <li>Os agrotóxicos, seus componentes e afins</li>
              <li>Mercadoria atentatória à moral, aos bons costumes, à saúde ou à ordem pública</li>
              <li>Substâncias entorpecentes ou drogas</li>
        </ul>
</ul>       
<strong>Atenção: Esses bens, se trazidos pelo viajante, serão apreendidos pela Aduana. O viajante pode ainda, conforme o caso, ser preso
                         pelas autoridades brasileiras e processado civil e penalmente.</strong>

<strong>Compras em Loja Franca (Duty Free Shop)</strong>
            <p>O viajante pode adquirir, com isenção de tributos, nas lojas francas (duty free shops) dos portos e aeroportos, após o desembarque
            no Brasil e antes de sua apresentação à fiscalização aduaneira, mercadorias até o valor total de U$ 500.00. Esse valor não é debitado
            da cota de isenção de bagagem a que o viajante tem direito.</p>

<ul>Além do limite global de U$ 500.00, as mercadorias adquiridas nas lojas francas estão sujeitas aos seguintes limites quantitativos:
            <li>24 unidades de bebidas alcoólicas, observado o quantitativo máximo de 12 unidades por tipo de bebida</li>
            <li>20 maços de cigarros de fabricação estrangeira</li>
            <li>25 unidades de charutos ou cigarrilhas</li>
            <li>250g de fumo preparado para cachimbo</li>
            <li>10 unidades de artigos de toucador</li>
            <li>3 unidades de relógios, máquinas, aparelhos, equipamentos, brinquedos, jogos ou instrumentos elétricos ou eletrônicos</li>
            <li>Menores de 18 anos, mesmo acompanhados, não podem adquirir bebidas alcoólicas e artigos de tabacaria.</li>
</ul>
<p>Bens adquiridos nas lojas francas do Brasil, no momento da partida do viajante para o exterior, nas lojas duty free no exterior e os adquiridos em lojas, catálogos e exposições duty free dentro de ônibus, aeronaves ou embarcações de viagem têm o mesmo tratamento de outros bens adquiridos no exterior, passando a integrar a bagagem do viajante. Em resumo, essas mercadorias não aproveitam do benefício da isenção concedido às compras nas lojas francas do Brasil, efetuadas no momento da chegada do viajante.</p>
<strong>Atenção:</strong>
     <p>Como parte do seu trabalho, as autoridades aduaneiras podem questionar os viajantes a qualquer momento, assim como inspecionar as suas     bagagens, declaradas ou não. Em caso de dúvida, o viajante deve declarar seus bens ou solicitar informações junto à fiscalização aduaneira.</p>
     <p>Ao deixar de preencher a DBA, nos casos em que seja obrigatória, ou seja, escolha indevida pelo setor "NADA A DECLARAR" equivale a efetuar declaração falsa e acarreta multa de 50% do valor dos bens que exceder a cota de isenção.</p>
     <p>As mercadorias que revelem finalidade comercial, se não forem declaradas pelo viajante, antes de qualquer ação da fiscalização aduaneira, sujeitarão o viajante a multa ou, até mesmo, a apreensão das mercadorias, para fins de aplicação da pena de perdimento.</p>
     <p>As pessoas físicas somente podem importar mercadorias para uso próprio</p>
     <p>A ocultação de bens, qualquer que seja o processo utilizado, pode acarretar o seu perdimento em favor da Fazenda Nacional Brasileira, além de outras penalidades previstas na legislação brasileira.</p>
     <p>Podem ser severas as penalidades aplicáveis pela não declaração de bens de importação proibida, com restrições a sua entrada ou, ainda, daqueles sujeitos a pagamento de tributos.</p>
     <p>A legislação brasileira prevê penalidades por falsas declarações e/ou a apresentação de documentos fraudulentos, que variam desde multas calculadas sobre o valor dos bens até a sua apreensão para a aplicação da pena de perdimento, além de constituir crime.</p>
     <p>Após o desembaraço aduaneiro, não é admitida a apresentação de bens, com intuito de obter documento que comprove a sua entrada no país como bagagem.</p>
     <p>Alguns medicamentos estão sujeitos a controle especial pela Agência Nacional de Vigilância Sanitária (Anvisa) e, nessa condição, só poderão entrar no País após a manifestação favorável da autoridade sanitária. Tenha sempre em mãos a receita médica, que indique o nome e domicílio do paciente, posologia ou modo de uso do medicamento e a periodicidade do tratamento.</p>
<strong>Bagagem Desacompanhada – Procedimentos na Chegada ao Brasil</strong>
      <p>As limitações, indicadas para a bagagem acompanhada, relativas aos bens que não podem ser trazidos como bagagem e bens de importação proibida, aplicam-se também à bagagem desacompanhada.</p>
       <p>A bagagem desacompanhada deve provir do país ou dos países de procedência do viajante.</p>
       <p>A bagagem desacompanhada deve chegar ao Brasil dentro do período de três meses anteriores ou até seis meses posteriores ao desembarque do viajante. Fora desse prazo, os bens não são considerados como bagagem, sujeitando-se ao regime de importação comum para bagagens.</p>
       <p>A data do desembarque do viajante no Brasil é comprovada mediante a apresentação do bilhete da passagem, de declaração da empresa transportadora, ou do passaporte.</p>
       <p>O despacho aduaneiro de bagagem desacompanhada somente pode ser processado após a chegada do viajante e deve ser iniciado no prazo de até 90 dias contado da descarga dos bens, sob pena de ser considerada abandonada. O viajante pode providenciar o despacho pessoalmente ou por meio de despachante aduaneiro por ele nomeado.</p>
       <p>O viajante deve providenciar o despacho aduaneiro da sua bagagem por meio da Declaração Simplificada de Importação (DSI) eletrônica, registrada no Sistema Integrado de Comércio Exterior (Siscomex), podendo, nesse caso, ser dispensado o procedimento de habilitação para utilizar o Siscomex se a declaração for transmitida para registro por um funcionário da Aduana ou elaborada por um despachante aduaneiro nomeado pelo viajante. O pagamento do imposto de importação, se for o caso, é feito no momento do registro da DSI.</p>
      <p>Os bens que compõem a bagagem devem ser relacionados na DSI. Para facilitar a conferência aduaneira, recomenda-se que os bens sejam distribuídos em caixas numeradas, agrupando-se, quando possível, os bens afins, que se relacione o conteúdo de caixa por caixa, por exemplo, conteúdo da caixa nº 1 (discriminando todos os bens ali contidos), conteúdo da caixa nº 2 e assim por diante.</p>
      <p>A liberação dos bens é efetuada após a conferência aduaneira da bagagem.</p>