# encoding: iso-8859-1
<p>O passaporte é um documento imprescindível quando se trata de viagens internacionais. Observe sempre a validade de seu passaporte: ela deve ser no mínimo até a data de seu retorno ao Brasil.</p>
<p>Caso vá para algum país que exija visto (ex: Estados Unidos, Austrália etc), o mínimo necessário são 6 meses.</p>

<address>
<strong>Superintendência Regional do Paraná</strong><br/>
Endereço: Rua Professora Sandália Monzon, 210 – Santa Cândida<br/>
Fone: (0xx41) 3251-7500<br/>
Fax: (0xx41) 3257-2738<br/>
Plantão: (0xx41) 3251-7501<br/>
Atendimento das 08h00 às 12h00, e das 14h00 às 18h00
</address>

<strong>Links:</strong><br/>
<a href='http://www.dpf.gov.br/servicos/passaporte/requerer-passaporte' target="_blank">Como tirar seu passaporte</a><br/>
<a href='http://www.dpf.gov.br/servicos/passaporte/documentacao-necessaria' target="_blank">Documentação para tirar seu passaporte</a><br/>
<a href='http://www.dpf.gov.br/servicos/passaporte' target="_blank">O que fazer em caso de perda ou roubo</a><br/>
<a href='http://www.dpf.gov.br/servicos/passaporte' target="_blank">Embarque de menores com passaportes novos</a><br/>
<a href='http://www2.anac.gov.br/imprensa/regrasBagagemInter.asp' target="_blank">Bagagem de Mão</a><br/>
<a href='http://www.vouviajarturismo.com.br/#!comunicado-abav/c1wwk' target="_blank">Deportação de Passageiros(Comunicado)</a><br/>
<a href='http://www.vouviajarturismo.com.br/#!retencaopassaporte/c7vv' target="_blank">Retenção de Passaporte</a><br/>