<% provide(:title, t(:administration)) %>
		<div class="inner-box">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>  
			<h4><%=t(:profile)%></h4>
			<%= render 'form' %>

		</div>
