<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Obrigado pela visita, <%= @name %></p>
    <p>
      Sua mensagem será considerada pela nossa equipe.
    </p>

    <p>Tenha um bom dia!</p>
    <p><i>Vou Viajar Turismo</i></p>

    <br/>
    <p><small>Esta mensagem foi enviada a partir de um endereço de e-mail destinado apenas a notificações e que não aceita a receção de e-mails.<br/>Não responda a esta mensagem.</small></p>
  </body>
</html>