<footer class="container">
	<div class="span4">developed by <b><a href="http://cristheinz.info" target="_blank">cristheinz</a></b></div>
	
	<p class="muted">© <%= Time.now.year %> - Vou Viajar Turismo. Todos os direitos reservados.</p>
	
</footer>