<footer class="">
	<div class="span4">developed by <b><a href="http://cristheinz.info" target="_blank">cristheinz</a></b></div>
	<br/>
	<center>
		<small style="padding-top:40px;">© <%= Time.now.year %> - Vou Viajar Turismo. Todos os direitos reservados.</small>
	</center>
</footer>